<%- include("partials/header.ejs") %>

<div class="blog">
    <% if (posts.length < 1) { %>
        <h1 class="no-blog">
            There is no blogs yet. Please visit <br />the home page to create
            the first blog.
        </h1>
    <% } else {%>
        <h1 class="title">Blogs list</h1>
        <% } %>

    <div class="overflow-div">
            <% for( let index=0; index < posts.length; index++ ) { %>
                <div class="blog-card">
                    <h4>
                        <%= posts[index].title %>
                    </h4>
                    <p>
                        <%= posts[index].content %>
                        </p>
                </div>
                <div class="btn-wrapper">
                    <form action="/delete" method="post">
                        <input type="hidden" name="index" value="<%= index %>">
                        <button class="btn">Delete</button>
                    </form>
                    <a class="btn" id="link" href="/edit/<%= index %>">Edit</a>
                </div>
            <% } %>                               
    </div>
</div>

<%- include("partials/footer.ejs") %>