<%- include("partials/header.ejs") %>

<% if (posts.length < 1) { %>
    <h1 class="no-blog">
        There is no blogs yet. Please visit <br />the home page to create a
        the first blog.
    </h1>
<% } else {%>
    <h1 class="title">Blogs list</h1>
    <% } %>

    <div class="overflow-div">
        <div class="home">
                <% for( let index=0; index < posts.length; index++ ) { %>
                    <div class="blog-card">
                        <span class="blog-number">
                            <%= index+ 1 %>
                        </span>
                        <h4>
                            <%= posts[index].title %>
                        </h4>
                        <p>
                            <%= posts[index].content %>
                        </p>
                        <div class="btn-wrapper">
                            <form action="/delete" method="post">
                                <input type="hidden" name="index" value="<%= index %>">
                                <button class="delete-btn">Delete</button>
                            </form>
                            <a class="edit-btn" href="/edit/<%= index %>">Edit</a>
                        </div>
                    </div>
                <% } %>                               
        </div>
    </div>
<%- include("partials/footer.ejs") %>